.logo {
	padding-top: 1px;
	padding-left: 1%;
	padding-bottom: 3%;
	display: inline-block;
	float: left;

	width: 15rem;	
}
/*---------------------------------nav bar */
.toplist {

	margin-left: 350px;
	padding-top:30px;
	   font-weight: 500;
    line-height: 1.1;

	

}

li {
	display: inline-block;
	padding-left: 25px;

	
}

.photo1, .photo2, .dophoto, .chphoto, .cafephoto{
	border: 0;

	width:95%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2.5%;
}
/*-------------------------------------------h1 h2 */
h1 {
	text-align: center;
   font-size: 35px;
   color: #35733c;
   font-weight: 500;
    line-height: 1.1;
margin-bottom: 0px;
	margin-left: 2.5%;
 	margin-right: 2.5%;

}

h2 {
	text-align: center;
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 2.5%;
 	margin-right: 2.5%;
        font-weight: 500;
    line-height: 1.1;
    color: inherit;
    


}
.toph {
	 position: absolute;
	 background-color: #fff;
     border: 1px solid #fff;
     width: 75%;
     top: 320px;
     left: 130px;
     height: 

}
.orange {
	width: 35%;
	padding-left: 30%;
	padding-top: 50px;
	position: absolute;
}

.top2 {
	    color: #fff;
	    
	    background-color: #35733c;
	    border: 1px solid #35733c;
	    font-size: 40px;
	    text-align: center;
        font-family:sans-serif;
        padding-top: 50px;
        padding-bottom: 120px;
        margin-left: 2.5%;
 	    margin-right: 2.5%;
        margin-bottom: 0px;
}
.mphoto{
	padding-top: 10%;
	width: 17%;
}
.dphoto {
	background-color: #363636;
	color:red;
	padding-top: 50px;
	margin-left: 2.5%;
 	margin-right: 2.5%;
	margin-top: 0px;

}
.bphoto{
	color: #fff;
	margin-top: 0px;
}
.lefteyes {
	margin-left: 1%;


}
.righteyes {
	margin-left: 80%;

	
}

.h2info {
	padding-top: 3%;
	font-weight: 500;
    line-height: 1.1;
    color: inherit;


}
.pinfo {
margin: 6%;
	line-height: 1.42857143;
    color: #333;
    font-size: 2rem;
}
.date {
	text-align: center;
 }
 .date2 {
 	color: white;
 	padding-bottom: 2%;
 }
 .all {
 	background-color: #7ab7bc;
 	padding: 6%;
 	margin-left: 2.5%;
 	margin-right: 2.5%;
 }
 .footer {
 	background-image: 
 	url('https://i.postimg.cc/kX6XrDxD/Smart-Select-20181013-150746-Chrome.jpg');
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    font-size: 14px;
    line-height: 1.4;

 }
 .footer p {
 	padding:30px;
 	color: #fff; 
 }

 .sm {
 	width: 50px;
 	padding-left: 20px;

 }
 .sfooter {
 	width: 50px;
 	padding-left: 20%;
 }
 .lofooter {
 	width: 50px;
 	padding-left: 30%;
 }











 .yt{

   margin-top: 50px;
   margin-left: 10px;
	padding:1%;
	width: 65px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	background: green;
	box-shadow: box-shadow;
	transition: .4s;
	opacity: .4;
	
	a{
		position: relative;
        text-decoration: none;
		color: #fff;
		font-size: 23px;
		top: 4px;
	}
}

.yt:hover{
	transition: .3s;
	box-shadow: none;
	opacity:.8;
}
@media (min-width:990px){
	.logo {
		width: 210px;
		padding-bottom: 10px;}
		h1 {
			font-size: 35px;}
		h2 {
			font-size: 30px;}
		.toph{
			position: absolute;
			background-color: #fff;
			border: 1px solid #fff;
			width: 75%;
		    top: 320px;
		    left: 130px;	
		}
	    .orange1 {
	        width: 12%;
	        top: 310px;}
	     .top2 {
	        padding: 30px;}
	     .mphoto{
	     	width: 40px;
	     	position: absolute;
	        top: 710px;
	        left: 900px;}
	     
	     .bphoto{
	     	font-size: 60px;
	        padding-bottom: 90px;

	        }


	     .righteyes1 {
	     	position: absolute;
	     	top:800px;
	     	right: 50px;}
	     .lefteyes1 {
	        position: absolute;
	     	top:800px;
	     	left: 35px;}
	     	.sid1{
	     	    float: left;
	     		width: 45%;
	     	}
	     	.chphoto {
	     		float: left;
	     		width: 21%;
	     		padding-left: 0px;}	






	     	/*--------------*/
	     .h2info {
	     	text-align: inherit;
	     	padding-left: 25px;
            font-weight: bold;
	     }
	     .pinfo {
	     	font-size: 16px;
	     	margin-top: 15px;
	     	margin-bottom: 20px; }
	     .righteyes2 {
	     	position: absolute;
	     	top:4850px;
	     	right: 35px;}
	     .lefteyes2 {
	        position: absolute;
	     	top:4850px;
	     	left: 35px;}
	     .orange2 {
	     	width: 25%;
	     	padding-top: 0px;
	     	padding-left: 38%;}
	     .h1info{
	     	font-size: 50px;
	     	padding-bottom: 40px;}
	     .sm {
	     	padding-top: 30px;}
	     .lofooter {
	     	padding-top: 60px;
	     	padding-left: 1%;
	     	width: 100px;
	     	margin-left: 150px;}
	     }







     
